:root {
  --mishmash-purple: #A7A1F4;
  --mishmash-green: #C1F7AE;
  --mishmash-dark: #363644;
  /* Defaults */
  --icon-color: var(--mishmash-dark);
  --icon-hover-color: var(--mishmash-purple);
}
@media (prefers-color-scheme: dark) {
:root {
  --icon-color: var(--mishmash-green);
  --icon-hover-color: var(--mishmash-purple);
}
}
/* Base class for inline SVG icons (uses currentColor) */
.icon {
  display:inline-block;
  width:24px; height:24px;
  color: var(--icon-color);
  vertical-align: middle;
}
.icon:hover { color: var(--icon-hover-color); }
.icon svg {
  width:100%; height:100%;
  stroke: currentColor; fill: none; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round;
}
/* PNG sprite via mask so color is controlled by background-color */
.icon-png {
  display:inline-block; width:24px; height:24px; background-color: var(--icon-color);
  -webkit-mask-image: url('../sprite/icons-sprite-mask@24.png');
  mask-image: url('../sprite/icons-sprite-mask@24.png');
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat;
  -webkit-mask-size: 96px 24px; mask-size: 96px 24px; /* 4 icons x 24px */
}
@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
.icon-png {
  -webkit-mask-image: url('../sprite/icons-sprite-mask@48.png');
  mask-image: url('../sprite/icons-sprite-mask@48.png');
  -webkit-mask-size: 192px 48px; mask-size: 192px 48px;
}
}
.icon-png:hover { background-color: var(--icon-hover-color); }
.icon-png--email { -webkit-mask-position: 0 0; mask-position: 0 0; }
.icon-png--instagram { -webkit-mask-position: -24px 0; mask-position: -24px 0; }
.icon-png--linkedin { -webkit-mask-position: -48px 0; mask-position: -48px 0; }
.icon-png--discord { -webkit-mask-position: -72px 0; mask-position: -72px 0; }
