.page-header {
  background-image: linear-gradient(120deg, #A7A1F4, #C1F7AE) !important;
  background-color: #A7A1F4 !important;
}

.site-footer-credits {
  color: #363644 !important;
}

h1,
h2,
h3,
h4 {
  color: #363644 !important;
}

h1 a {
  text-decoration: none !important;
}

a {
  color: #363644 !important;
  text-decoration: underline !important;
}
a:hover,
a:focus {
  color: #A7A1F4 !important;
}

@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


body {
  font-family: 'Inter', 'Raleway', Arial, sans-serif !important;
}

.btn {
  color: #363644 !important;
}

