---
layout: default
title: Events
---
<h1>Events</h1>
{% assign events = site.events | where_exp: "item", "item.draft != true" | sort: 'date' | reverse %}
{% for item in events %}
  <p>
    {% if item.url %}<a href="{{ item.url | relative_url }}">{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}
    <br />
    <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%b %d, %Y at %I:%M %p" }}</time>
    {% if item.enddate or item.end_date %} &mdash; <time datetime="{{ item.enddate | default: item.end_date | date_to_xmlschema }}">{{ item.enddate | default: item.end_date | date: "%b %d, %Y at %I:%M %p" }}</time>{% endif %}
    {% if item.location %} &mdash; {{ item.location }}{% endif %}
  </p>
{% endfor %}
